# ==========================================
# データベース設定 (PostgreSQL)
# ==========================================
DB_USER=tracker_user
DB_PASSWORD=your_secure_password_here
DB_NAME=price_tracker_db

# ==========================================
# バックエンド設定 (FastAPI)
# ==========================================
# スクレイピング対象のベースURL
SEARCH_URL=https://

# ==========================================
# フロントエンド設定 (Next.js)
# ==========================================
# APIのURL (Traefikで設定したドメイン)
NEXT_PUBLIC_API_URL=https://api-tracker.
# 必要に応じてAPIキーなどの簡易認証用
NEXT_PUBLIC_API_KEY=gen_a_random_string_here

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks
